# Python clutter
__pycache__/
*.py[cod]
*$py.class
.venv/
env/

# Data and Models (Keep the folders, ignore the heavy files)
data/raw/*
data/processed/*
models/trained_models/*
!*/.gitkeep

# OS related
.DS_Store
Thumbs.db
outputs/
metrics/
plots/
completions/
checkpoints/
*.json
*.csv
*.png
logs/
__pycache__/
*.pyc